<header>
  <nav class="db dt-ns w-100 border-box pa3 ph5-ns bg-red">
    <a class="db dtc-ns v-mid mid-gray link dim w-100 w-25-ns tc tl-ns mb2 mb0-ns" href="/" title="Home">
      <img src="/images/agema-medical-logo.png" class="dib" style="width: 125px; height: auto;" alt="Site Name">
    </a>
    <div class="db dtc-ns v-mid w-100 w-75-ns tc tr-ns">
      <a class="link dim near-white f6 f5-ns dib mr3 mr4-ns b" href="/training" title="Training in Expedition & Tactical Medicine">Training</a>
      <a class="link dim near-white f6 f5-ns dib mr3 mr4-ns b" href="#" title="About">Medical Kits</a>
      <a class="link dim near-white f6 f5-ns dib mr3 mr4-ns b" href="#" title="About">Consulting</a>
      <a class="link dim near-white f6 f5-ns dib b" href="#" title="Contact">Contact Us</a>
    </div>
  </nav>
</header>
